.display-wrapper {
  background: $primary-color-dark;
  border: 1px solid $primary-text-color;
  color: $primary-color-text;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.calc-display {
  text-align: right;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  letter-spacing: 1px;
}

.calc-display p {
    padding: $xs-size;
}

.display {
  text-align: right;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: $xs-size;
  font-size: $l-size;
}

